<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <h2 class="header"><%= action %></h2>
        <% if @account.errors.any? %>
          <% @account.errors.full_messages.each do |message| %>
            <script>
              Materialize.toast('<%= message %>', 4000, 'red');
            </script>
          <% end %>
        <% end %>
        <%= form_for [:backoffice, :settings, @account], class: "col s12 m9 l10" do |f| %>
        <div class="row">
          <div class="input-field col s12 m9 l10">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
        </div>
          <div class="row">
            <div class="input-field col s12 m9 l10">
              <%= f.label :opening_balance %>
              <%= f.number_field :opening_balance %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m9 l10">
              <%= f.label :current_balance %>
              <%= f.number_field :current_balance %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m9 l10">
              <%= f.label :additional_information %>
              <%= f.text_field :additional_information %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m9 l10">
              <%= f.label :currency_id %><br />
              <%= f.collection_select :currency_id, Currency.order(:name), :id, :name, include_blank: true %>
            </div>
          </div>
          <button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">send</i>Save</button>
        <% end %>
    </div>
  </div>
</div>
