<div class="container">
  <!-- Page Layout here -->
  <div class="row">
    <ul class="collapsible" data-collapsible="accordion">
      <!-- Currencies -->
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Currencies</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 center">
              <%= link_to new_backoffice_settings_currency_path, class: "waves-effect waves-light btn" do %>
              <i class="material-icons left">add</i>
              New Currency
              <% end %>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @currencies.each do |currency| %>
              <tr>
                <td><%= currency.id %></td>
                <td><%= currency.name %></td>
                <td>
                  <%= link_to edit_backoffice_settings_currency_path(currency.id) do %>
                  <i class="material-icons right">mode edit</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li><!-- Currencies END -->

      <!-- Categories -->
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Categories</div>
        <div class="collapsible-body">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#expense-categories">Expense</a></li>
              <li class="tab col s3"><a href="#income-categories">Income</a></li>
            </ul>
            <!-- Categories - Expense -->
            <div id="expense-categories" class="col s12">
              <div class="row">
                <div class="col s12 center">
                  <%= link_to new_backoffice_settings_expense_category_path, class: "waves-effect waves-light btn" do %>
                  <i class="material-icons left">add</i>
                  New Expense Category
                  <% end %>
                </div>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @expense_categories.each do |expense_category| %>
                  <tr>
                    <td><%= expense_category.id %></td>
                    <td><%= expense_category.name %></td>
                    <td>
                      <%= link_to edit_backoffice_settings_expense_category_path(expense_category.id) do %>
                      <i class="material-icons right">mode edit</i>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Categories - Incomes -->
            <div id="income-categories" class="col s12">
              <div class="row">
                <div class="col s12 center">
                  <%= link_to new_backoffice_settings_income_category_path, class: "waves-effect waves-light btn" do %>
                  <i class="material-icons left">add</i>
                  New Income Category
                  <% end %>
                </div>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @income_categories.each do |income_category| %>
                  <tr>
                    <td><%= income_category.id %></td>
                    <td><%= income_category.name %></td>
                    <td>
                      <%= link_to edit_backoffice_settings_income_category_path(income_category.id) do %>
                      <i class="material-icons right">mode edit</i>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          dfdfdfdfdfd
          <div class="row">
            <div class="col s12 center">
              <%= link_to new_backoffice_settings_currency_path, class: "waves-effect waves-light btn" do %>
              <i class="material-icons left">add</i>
              New Currency
              <% end %>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @currencies.each do |currency| %>
              <tr>
                <td><%= currency.id %></td>
                <td><%= currency.name %></td>
                <td>
                  <%= link_to edit_backoffice_settings_currency_path(currency.id) do %>
                  <i class="material-icons right">mode edit</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li><!-- Categories END -->

      <!-- Accounts -->
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Accounts</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 center">
              <%= link_to new_backoffice_settings_account_path, class: "waves-effect waves-light btn" do %>
              <i class="material-icons left">add</i>
              New Account
              <% end %>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Opening Balance</th>
                <th>Current Balance</th>
                <th>Additional Information</th>
                <th>Currency</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @accounts.each do |account| %>
              <tr>
                <td><%= account.id %></td>
                <td><%= account.name %></td>
                <td><%= account.opening_balance %></td>
                <td><%= account.current_balance %></td>
                <td><%= account.additional_information %></td>
                <td><%= account.currency.code %></td>
                <td>
                  <%= link_to edit_backoffice_settings_account_path(account.id) do %>
                  <i class="material-icons right">mode edit</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li><!-- Accounts END -->

      <!-- Payees -->
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Payees</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 center">
              <%= link_to new_backoffice_settings_payee_path, class: "waves-effect waves-light btn" do %>
              <i class="material-icons left">add</i>
              New Payee
              <% end %>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @payees.each do |payee| %>
              <tr>
                <td><%= payee.id %></td>
                <td><%= payee.name %></td>
                <td>
                  <%= link_to edit_backoffice_settings_payee_path(payee.id) do %>
                  <i class="material-icons right">mode edit</i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li><!-- Payees END -->
    </ul>
  </div><!-- Page Layout here END -->
</div><!-- Container END -->
