<div class="container">
  <!-- Page Layout here -->
  <!-- Grey navigation panel -->
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Categories</div>
      <div class="collapsible-body">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s6 m6 l6"><a href="#expense-swipe">Expense</a></li>
            <li class="tab col s6 m6 l6"><a href="#income-swipe">Income</a></li>
          </ul>
          <div id="expense-swipe" class="col s12">
            <div class="row">
              <div class="col s12 center">
                <%= link_to new_backoffice_settings_expense_category_path, class: "waves-effect waves-light btn" do %>
                  <i class="material-icons left">add</i>
                  New Expense Category
                <% end %>
              </div>
            </div>
            <table class="highlight">
              <thead>
                <tr>
                  <th data-field="id">ID</th>
                  <th data-field="name">Name</th>
                  <th data-field="button-edit"></th>
                  <th data-field="button-delete"></th>
                </tr>
              </thead>

              <tbody>
                <% @expense_categories.each do |expense_category| %>
                <tr>
                  <td><%= expense_category.id %></td>
                  <td><%= expense_category.name %></td>
                  <td>
                    <%= link_to edit_backoffice_settings_expense_category_path(expense_category.id) do %>
                      <i class="material-icons">mode edit</i>
                    <% end %>
                  </td>
                  <td class="right">
                    <a href="#">
                      <!-- <i class="material-icons">delete</i> -->
                    </a>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="income-swipe" class="col s12">
            <div class="row">
              <div class="col s12 center">
                <%= link_to new_backoffice_settings_income_category_path, class: "waves-effect waves-light btn" do %>
                  <i class="material-icons left">add</i>
                  New Income Category
                <% end %>
              </div>
            </div>
            <table class="highlight">
              <thead>
                <tr>
                  <th data-field="id">ID</th>
                  <th data-field="name">Name</th>
                  <th data-field="button-edit"></th>
                  <th data-field="button-delete"></th>
                </tr>
              </thead>

              <tbody>
                <% @income_categories.each do |income_category| %>
                <tr>
                  <td><%= income_category.id %></td>
                  <td><%= income_category.name %></td>
                  <td>
                    <%= link_to edit_backoffice_settings_income_category_path(income_category.id) do %>
                      <i class="material-icons">mode edit</i>
                    <% end %>
                  </td>
                  <td class="right">
                    <a href="#">
                      <!-- <i class="material-icons">delete</i> -->
                    </a>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </li>
  </ul>
</div>
