  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <%= form_for [:backoffice, :settings, @currency], :html => { class: "col s12" } do |f| %>
        <h4 class="col s12 m6 offset-m3 l6 offset-l3"><%= action %></h4>
          <div class="row">
            <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
              <%= f.label :name %>
              <%= f.text_field :name, class: "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
              <%= f.label :code %>
              <%= f.text_field :code, class: "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
              <%= f.label :sign %>
              <%= f.text_field :sign, class: "validate" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-action modal-close btn waves-effect waves-light"><i class="material-icons right">send</i>Save</button>
          </div>
          <% end %>
        </div>
    </div>
  </div>
