<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li class="divider"></li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        Sign out
      <% end %>
    </li>
  </ul>
  <div class="navbar-fixed">
    <nav>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo center"><%= controller.controller_name.capitalize %></a>
        <ul class="right">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Move the sidenav outside of .navbar-fixed -->
  <ul class="side-nav" id="mobile-demo">
    <%= image_tag "background-profile", :class => "responsive-img" %>
    <div class="container">
      <div class="card-panel">
        <p><b><%= "#{current_user.first_name} #{current_user.last_name}" %></b></p>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <li>
      <%= link_to backoffice_path do %>
        Home
      <% end %>
    </li>
    <li><a href="components.html">Accounts</a></li>
    <li><a href="components.html">Budget</a></li>
    <li><a href="components.html">Schedules</a></li>
    <li><a href="components.html">Reports</a></li>
    <li><div class="divider"></div></li>
    <li>
      <%= link_to backoffice_settings_path do %>
        Settings
      <% end %>
    </li>
  </ul>
</header>
